services:
  app:  
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app

  nginx:
    image: nginx:1.29.4
    container_name: reverse-proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app